*{
    margin: 0;
    padding: 0;
  }
  .m{
    height: auto;
    box-shadow: 0 0 5px rgb(252, 134, 0);
  }
  .card {
    height: auto;
  }
  .card img:hover{
    cursor: pointer;
  }

  .u a, p {
    text-transform: capitalize;
  }